.custom_button_std {
    padding: 24px, 40px, 24px, 40px;
    border-radius: 50px;
    background: linear-gradient(95.57deg, #0098DB 0%, #00A85A 100%);
    border: unset !important;
}

.custom_button_std:hover{    
    border: 2.5px solid #01a19a !important;
    background-image: linear-gradient(95.57deg, #0098DB 0%, #00A85A 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.custom_button {
    padding: 24px, 40px, 24px, 40px;
    border-radius: 50px;
    border: 2.5px solid #01a19a !important;
    background-image: linear-gradient(95.57deg, #0098DB 0%, #00A85A 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.custom_button:hover {    
    background: linear-gradient(95.57deg, #0098DB 0%, #00A85A 100%);
    border: unset !important;
}