.custom_header {
    width: 100%;
    min-height: 150px;
    background-color: rgba(0, 0, 0, 1);
    padding-top: 32px;
}

.custom_nav a {
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
}

.custom_nav .nav-link:hover,
.custom_nav .nav-link.active:hover {
  color: #5e5b5b !important;
}

.nav-link.active {
    color: #ffffff !important;
}