.home_page {
  width: 100%;
  min-height: 660px;
  background-color: #121212;
  padding-top: 25px;
}

.system_header {
  font-family: Inter;
  font-size: 75px;
  font-weight: 900;
  line-height: 97px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0;
  color: rgba(255, 255, 255, 1);
}

.system_header::first-letter {
  background: linear-gradient(95.57deg, #0098db 0%, #00a85a 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.system_text {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  padding: 0;
}

.suitable_wrapper {
  height: 112px;
  border: 5px solid #01a19a !important;
  background-image: linear-gradient(95.57deg, #0098db 0%, #00a85a 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0em;
  padding-top: 25px;
  padding-left: 25px;
}

.suitable_card_dsc {
  text-transform: uppercase;
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}

.suitable_card_first {
  height: 193px;
  background: rgba(242, 242, 242, 1);
  margin-right: 20px;
}

.suitable_card_second {
  height: 193px;
  background: rgba(137, 240, 247, 1);
}

.suitable_card_third {
  background: rgba(233, 113, 7, 1);
  height: 213px;
}

.suitable_card_fourth {
  height: 236px;
  background-image: url(/public/suitableImages/f514da8890201d6a8b7f5b40eab24f04.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  color: white !important;
}

.suitable_card_fourth h4 {
  background: unset;
  color: rgba(255, 255, 255, 1);
}

.suitable_card_fifth {
  height: 299px;
  background: rgba(242, 242, 242, 1);
  margin-right: 20px;
}

.suitable_card_sixth {
  height: 299px;
  background: linear-gradient(95.57deg, #0098db 0%, #00a85a 100%);
}

.line_q {
  height: 157px;
  background-image: url(/public/suitableImages/1f6ce2c3f8de64d8f345c367b3adde67.jpeg);
  background-position: center 60%;
  background-size: 80%;
  background-repeat: repeat-x;
}

.line_q_2 {
  height: 157px;
  background-image: url(/public/suitableImages/1f6ce2c3f8de64d8f345c367b3adde67.jpeg);
  background-position: center 20%;
  background-size: 80%;
  background-repeat: repeat-x;
}


